ul.nav.nav-tabs {
    display: flex;
    gap: 0px 40px;
    justify-content: space-between;
}

.nav-tabs a {
    color: black;
}

.nav-tabs li, .nav-tabs>li>a {
    height: 85px;
    width: 85px;
    border-radius: 300px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Necessary for positioning the ::after element */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    border: 1px solid #F91942 !important;
    background-color: #fff;
    border-bottom-color: transparent;
    color: #F91942;
    border-radius: 100px;
}

/* Normal state of the tabs */
.nav-tabs>li>a {
    height: 50px;
    border: 1px solid black !important;
    width: 100px;
    background-color: #fff;
    border-radius: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Horizontal line for normal tabs */
.nav-tabs > li > a::after {
    content: "";
    display: block;
    width: 150%;
    height: 2px;
    background-color: #ddd; /* Default color of the horizontal line */
    position: absolute;
    top: 50%;
    left: 30px;
    z-index: -1;
}
.nav-tabs > li.last-li > a::after {
   display: none;
}

/* Change the line color when the tab is active */
.nav-tabs > li.active > a::after {
    /* background-color: #F91942; */
}
.nav-tabs {
    border: none;
}
.nav-tabs {
    display: flex;
    gap: 0px 30px;
}
input#upload {
    /* margin-top: 20px; */
    padding: 13px;
}
.contact-checkbox{
    color: #F91942;
}
.contact-check{
    display: flex;
    justify-content: space-between;
}
input.input-check{
    height: 20px;
    width: 20px;
}
.add-listing-headline{
    display: flex;
    justify-content: space-between;
}
.radio-input-slider{
    margin-top: -10px;
}
.slider-radio{
    display: flex;
    gap: 0px 30px;
}
.btn-upload {
    display: inline-block;
    background-color: #F91942; /* Customize button color */
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Change button color on hover */
.btn-upload:hover {
    background-color: #e6284b;
}

#fileInput {
    display: none;
}

/* Optional: to make the button text appear centered */
.btn-upload span {
    vertical-align: middle;
    color: white;
}
.img-gallery-div{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    margin: 40px 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
/* addistion css */
.presentation{
    height: 40px ;
    width: 40px;
    border-radius: 20px;
    background-color: #F91942;
}
